<!DOCTYPE html>
<html>
  <body>
    <h2>Outstanding Amount</h2>
    <table
      cellspacing="0"
      cellpadding="5"
      width="640"
      align="right"
      border="”1”"
    >
      <tr>
        <th>GraSewa</th>
        <th>GraDP</th>
        <th>GraKarya</th>
        <th>GraStrata</th>
        <th>Total</th>
      </tr>
      <tr>
        <td>{{graSewa}}</td>
        <td>{{graDP}}</td>
        <td>{{graKarya}}</td>
        <td>{{graStrata}}</td>
        <td>{{all}}</td>
      </tr>
    </table>
  </body>
</html>
