ENV=development
NAME=ac.k
VERSION=1
ROUTE_PREFIX=api
LANGUAGE=en
DEBUG=true

HOST=localhost
PORT=3000

DB_HOST=localhost:27017
DB_NAME=resume
DB_USER=
DB_PASSWORD=

MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_USERNAME=noreply@gradana.com
MAILER_PASSWORD=Gradana@123!